*{box-sizing: border-box;}
body{

    background: linear-gradient(#FFFFFF, #90C7E3);
    color:#B8DBED;
    font-family: "Helvetica", Arial, sans-serif;
}
header{
    background-color: #000033;
    color:#FFFFFF;

    background-repeat: no-repeat;
    background-position: right;
    height:120px;
    text-align: center;
    padding-top: 30px;
    padding-left: 3em;
}
nav {
    font-weight: bold;
    font-size: 120%;
    padding: 1.5em;
    float:left;
    width: 160px;
}
main{
    padding: 1px 20px 20px 30px;
    display: block;
    background-color: #FFFFFF;
    margin-left: 190px;
}
nav a{
    text-decoration: none;
    transition: background-color 3s ease;
}
nav ul {
    list-style-type: none;
    font-size: 1.2em;
    padding-left: 0;
    margin: 0px;

}
nav a:link {
    color: #5C7FA3;
}

nav a:visited {
    color: #344873;
}

nav a:hover {
    color: #A52A2A;
}
.akk {
    display: grid;
    flex-wrap: wrap;
}

.akk .thumb {
    width: 50%;
}

.akk img {
    width: calc(100% - (20px * 2));
    margin: 20px;
}



#gallery {
    position: relative;
    height: 200px;
    text-align: left;
    color: black;
}

#gallery ul {
    list-style-type: none;
    width: 300px;
}

#gallery li {
    display: inline;
    float: left;
    padding: 10px;
}

#gallery img {
    border-style: none;
}

#gallery a {
    text-decoration: none;
    font-style: italic;
    color: black;
}

#gallery span {
    position: absolute;
    left: -1000px;
    opacity: 0;
    transition:  opacity 1s ease-in-out;
}

#gallery a:hover span {
    position: absolute;
    top: 16px;
    left: 320px;
    text-align: center;
    opacity: 1;
}

figure {
    position: absolute;
    left: 280px;
    text-align: center;
}
.test:hover{
    transform: scale(1.5);
}





h2{
    color:#3399CC;
    font-family: Georgia,"Times New Roman",Serif;
}
dt{
    color:#000033;
}
.resort{
    color:#5C7FA3;
    font-weight: bold;
}
.contact{
    font-size: 90%;
}
h1{
    font-family: Georgia,"Times New Roman",Serif;
    text-shadow: 1px 1px #CCCCCC;
    font-size: 3em;
    letter-spacing: .25em;
}
h3{
    font-family: Georgia,"Times New Roman",Serif;
    color:#000033;
}

main ul {
    list-style-image: url('marker.gif');
}
footer{
    text-align:center;
    font-size: 75%;
    font-style: italic;
    font-family: Georgia,"Times New Roman",Serif;
    padding:20px;
    margin-left: 190px;
    background-color: #FFFFFF;
    /*float: none;*/
    clear: both;
}
#wrapper{
    /*align-content: center;*/
    margin-left: auto;
    margin-right:auto;
    width: 80%;
    min-width: 960px;
    max-width: 2048px;
    box-shadow: 3px 3px 3px 3px #333333 ;
    border-color: #000033;
    border-width: 1px;
    background: linear-gradient(#FFFFFF, #90C7E3);
    color:#666666;
}
#homehero{
    height: 300px;
    background-image:url("coast.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 190px;
}
#yurthero{
    height: 300px;
    background-image:url("yurt.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 190px;
}
#trailhero{
    height: 300px;
    background-image:url("trail.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 190px;
}


table{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border: 1px solid #3F2860;
    margin-bottom: 1em;
    border-collapse: collapse;

}
tr:nth-of-type(2n){
    background-color: #F5FAFC;
}
table {
    padding: 0.5em;
    border: 2px solid #3399CC;
    border-collapse: collapse;
}

td,th{
    padding: 0.5em;
    border: 2px solid #3399CC;
}
td{
    text-align: center;
}
.text{
    text-align: left;
}



label{
    float: left;
    display: block;
    text-align: right;
    width: 120px;
    padding-right: 1em;
}
input,textarea {
    display: block;
    margin-bottom: 20px;

}
input[type=submit]{
    margin-left: 130px;
}
form{
    padding: 3em;
}

video, embed{
    float: right;
    padding-left: 20px;
}

@media only screen and (max-width: 64em){
    body{
        margin: 0;
        padding: 0;
    }
    #wrapper{
        min-width: 0;
        width: auto;
        margin: 0;
        padding: 0;
    }
    header{
        padding-top: 1px;
    }
    main{
        padding: 0;
        padding-bottom: 2.5em;
        font-size: 90%;
        float: none;
    }
    nav{
        float: none;
        width: auto;
        padding-left: 2em;
    }
    nav a{
        padding: 0.2em;
        margin-left: 0.3em;
        float: left;
        width: 23%;
    }
    h2, h3, p, dl {
        padding-left: 2em;
    }
    main ul {
        margin-left: 2em;

    }
    .floatleft {
        margin-left: 2em;
        margin-bottom: 1em;
    }
    .clear {
        padding-left: 2em;
    }
    #trailhero, #yurthero, #homehero {
        height: 150px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 37.5em){
    h1{
        font-size: 2em;
        padding-top: 0.25em;
        padding-left: 1.5em;
        width: 85%;
        text-align: center;
    }
    nav a {
        padding: 0.5em;
        width: 45%;
        float: left;
        width: 6em;
        margin-left: 0.5em;
    }
    li{
        font-size: 100%;
    }
    .floatleft {
        float: none;
        display: none;
    }
    #trailhero, #yurthero, #homehero{
        background-image: none;
        height: 0;
    }
    footer {
        padding: 0.5em;
        margin: 0;
    }
    #mobile {
        display: inline;
    }
    #desktop {
        display: none;
    }
    label{
        float:none;
        text-align:left ;
    }
    input[type="submit"]{margin-left: 0;}
}

